@using Heron.MudCalendar

@page "/add"

<PageTitle>Propose Dates - Dungeon Dates</PageTitle>

@{
    // Heron.MudCalendar offers no other way to target the "today" date other than by the `identifier` attribute.
    var identifierDate = DateTime.Today.ToString("M/d/yyyy"); // "05/13/2025"
    var escapedDate = identifierDate.Replace("/", "\\/");       // "05\\/13\\/2025"
}


<style>
    .mud-cal-toolbar .mud-menu { display: none; }
    .mud-cal-month-link:hover { background-color: rgba(92, 68, 52, 0.1); }
    .mud-cal-month-cell-header { font-size:  1.2rem; }
    .mud-calendar button { color: rgba(226, 212, 183, 1) !important; }
    div[identifier="@escapedDate"] {
        background-color: rgba(59, 106, 157, 0.2) !important;
    }</style>

<MudGrid Spacing="2">
    <MudItem xs="12">
        <MudText Typo="Typo.h3" Color="Color.Primary" Align="Align.Center">Propose Dates</MudText>
    </MudItem>
    <MudItem xs="12">
        <img src="/divider.png" alt="Fancy divider" class="fantasy-divider"/>
    </MudItem>
    <MudItem xs="12">
        <MudAlert Severity="Severity.Info" ShowCloseIcon="false">
            Use the calendar below to select days. You can add or remove days simply by touching the day. Then click 'Save'.
        </MudAlert>
        <MudCalendar @ref=_scheduler Items="_calendarDates" CellClicked="OnCellClicked" ItemClicked="OnItemClicked"
                     ShowPrevNextButtons="true" ToolbarPadding="0" View="CalendarView.Month"
                     ShowDay="false" ShowWeek="false" ShowMonth="true" ShowWorkWeek="false" Class="pt-2" Style="background-color: transparent; box-shadow: none;"
                     HighlightToday="false">
            <MonthTemplate>
                <div class="d-flex justify-center">
                    <MudIcon Icon="@Icons.Material.Filled.Add" Color="Color.Primary" Style="width: 50px; height: 50px;"/>
                </div>
            </MonthTemplate>
        </MudCalendar>
    </MudItem>
    <MudItem xs="12">
        <MudButton OnClick="OnSaveClickedAsync" Color="Color.Primary" Size="Size.Large" FullWidth="true" Disabled="_isLoading" Variant="Variant.Filled">
            <MudText Typo="Typo.h4" GutterBottom="false" Color="Color.Secondary">
                @if (_isLoading)
                {
                    <span>Saving...</span>
                }
                else
                {
                    <span>Save</span>
                }
            </MudText>
        </MudButton>
    </MudItem>
</MudGrid>
<img src="/divider.png" alt="Fancy divider" class="fantasy-divider py-2" />