@using Heron.MudCalendar

@page "/add"

<MudGrid Spacing="2">
    <MudItem xs="12">
        <MudText Typo="Typo.h3">Schedule A Dungeon Date</MudText>
    </MudItem>
    <MudItem xs="12">
        <MudAlert Severity="Severity.Info" ShowCloseIcon="false">
            Use the calendar below to select days. You can add or remove days simply by touching the day. Then click 'Save'.
        </MudAlert>
    </MudItem>
    <MudItem xs="12">
        <MudCalendar @ref=_scheduler Items="_calendarDates" CellClicked="OnCellClicked" ItemClicked="OnItemClicked"
                     ShowDropdownViewSelector="true" ShowPrevNextButtons="false" ToolbarPadding="4"
                     ShowDay="false" ShowWeek="true" ShowMonth="true" ShowWorkWeek="false"/>
    </MudItem>
    <MudItem xs="12">
        @if (_invalidForm)
        {
            <MudAlert Severity="Severity.Warning" ShowCloseIcon="false">
                Please select one or more days.
            </MudAlert>
        }
    </MudItem>
    <MudItem xs="12">
        <MudButton OnClick="OnSaveClickedAsync" Color="Color.Success" Size="Size.Large" FullWidth="true" Disabled="_isLoading" Variant="Variant.Filled">
            @if (_isLoading)
            {
                <span>Saving...</span>
            }
            else
            {
                <span>Save</span>
            }
        </MudButton>
    </MudItem>
</MudGrid>
