@page "/add"

<h3>Schedule A Dungeon Date!</h3>

<RadzenAlert AlertStyle="AlertStyle.Info" Variant="Variant.Flat" Shade="Shade.Lighter" AllowClose="false">
    Use the calendar below to select days. You can add or remove days simply by touching the day.
</RadzenAlert>

<RadzenScheduler @ref=@_scheduler style="height: 768px;" TItem="AddCalendarDate" Data="@_calendarDates" 
                 StartProperty="@nameof(AddCalendarDate.Start)" EndProperty="@nameof(AddCalendarDate.End)"
                 TextProperty="Text" SelectedIndex="1"
                 SlotRender="OnSlotRender"
                 SlotSelect="OnSlotSelectAsync"
                 AppointmentSelect="OnAppointmentSelectAsync">
    <RadzenWeekView />
    <RadzenMonthView />
</RadzenScheduler>

@if (_invalidForm)
{
    <RadzenAlert AlertStyle="AlertStyle.Danger" Variant="Variant.Flat" Shade="Shade.Lighter" AllowClose="false">
        Please select one or more days.
    </RadzenAlert>
}

<RadzenRow>
    <RadzenColumn Size="12" class="rz-shadow-4 rz-py-3">
        <RadzenButton Click="OnSaveAsync" Text="Save" ButtonStyle="ButtonStyle.Success" Size="ButtonSize.Large" class="rz-w-100" Disabled="_isLoading"/>
    </RadzenColumn>
</RadzenRow>
