@page "/Add"

<h3>Schedule A Dungeon Date!</h3>

<RadzenAlert AlertStyle="AlertStyle.Info" Variant="Variant.Flat" Shade="Shade.Lighter" AllowClose="false">
    Use the calendar below to select days. You can add or remove days simply by touching the day.
</RadzenAlert>

<RadzenScheduler @ref=@_scheduler style="height: 768px;" TItem="AddCalendarDate" Data=@_calendarDates StartProperty="Start" EndProperty="End"
                 TextProperty="Text" SelectedIndex="1"
                 SlotRender="OnSlotRender"
                 SlotSelect="OnSlotSelectAsync"
                 AppointmentSelect="OnAppointmentSelectAsync">
    <RadzenWeekView />
    <RadzenMonthView />
</RadzenScheduler>

<RadzenButton Click="OnSaveAsync" Text="Save" ButtonStyle="ButtonStyle.Success" Size="ButtonSize.Large"/>
