@page "/debug"

@foreach (var item in _response.Data)
{
    <span>
        Key
    </span>
    <span>
        @item.Key
    </span>
    <br/>
    <span>
        Value
    </span>
    <span>
        @item.Value
    </span>
    <br/>
}

@code {
    [Inject] public HttpClient HttpClient { get; set; } = null!;

    private DebugResponse _response = new();

    protected override async Task OnInitializedAsync()
    {
        _response = await HttpClient.GetFromJsonAsync<DebugResponse>("debug");
    }
}