html, body {
    height: 100vh;
}

#app {
    height: 100%;
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

#loading > img {
    width: 60%;
    height: auto;
    max-width: 400px;
}

.loading-progress-text:after {
    content: var(--blazor-load-percentage-text);
    color: rgba(92, 68, 52, 1);
    font-weight: bold;
    font-size: 60px;
}

body.parchment-site {
    margin: 0;
    padding: 0;
    position: relative;
    background: url('/parchment-tile.jpeg') repeat;
    background-size: auto;
}

.content-wrapper {
    position: relative;
    z-index: 2;
}

.background-fade {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 1;

    background:
            linear-gradient(to right, rgba(0, 0, 0, 0.7), transparent 100%) left,
            linear-gradient(to left, rgba(0, 0, 0, 0.7), transparent 100%) right;

    background-repeat: no-repeat;
    background-size: 40px 100%, 40px 100%;
}

.fantasy-divider {
    display: block;
    width: 100%;
    max-width: 800px;
    height: auto;
    opacity: 1;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
    margin: auto;
}